body {
    background-color: #808080;
}

.main-container {
    height: 600px;
    width: 400px;
}

.display {
    grid-area: display;
}

.equals {
    grid-area: equals;
}

.nums {
    grid-area: nums;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 200px);
    grid-template-areas: 
    "display display display display"
    "equals equals equals equals"
    "nums nums nums nums"
    "nums nums nums nums"
    "nums nums nums nums"
    "nums nums nums nums";
}