body {
    background-color: #808080;
}

.main-container {
    height: 600px;
    width: 400px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 150px 50px repeat(4,100px);
}