body {
    background-color: #808080;
}

/* Grid container (calculator) */
.grid-container {
    display: grid;
    width: 400px;
    height: 600px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25% 8% repeat(4, 1fr);
}

/* Grid items (button groups) */
.display {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.equals {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.nums {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
}
